@charset "utf-8";
@import "partials/framework";
@import "partials/variable";
@import "partials/fonts";
@import "partials/icons";
@import "partials/base";

//Main-Page
.main-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: auto;
}

.main-page-text {
  color: $common-grey;
  padding: 0 10px;
}

.search {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__btns {
    display: flex;
    position: absolute;
    right: 0;
    top: -100%;
    transform: translateY(50%);
  }
  &__lang-toggler {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &:after {
      content: "";
      display: block;
      width: 15px;
      height: 15px;
      background: url("../icons/up-chevron.svg");
      background-repeat: no-repeat;
      background-size: cover;
      transform: scale(1, -1);
      margin-left: 5px;
    }
    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
  &__holder {
    position: relative;
  }
  &__input-holder {
    position: relative;
    input {
      padding: 10px;
      box-sizing: border-box;
      border: none;
      font-size: 30px;
      width: 100%;
      min-width: auto;
      @include outline-off();
    }
  }
  &__content {
    opacity: 0;
    width: 100%;
    position: absolute;
    top: 100%;
    pointer-events: none;
    background: #fff;
    border-radius: 0 0 8px 8px;
    transition: opacity linear 0.3s;
    box-shadow: 20px 20px 64px 0 rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    max-height: 300px;
    ul {
      list-style: none;
      padding: 0;
      margin: 10px 0;
    }
    li {
      //padding: 5px;
      text-align: center;
      & > span {
        padding: 7px 10px;
        display: block;
      }
    }
    li + li {
      margin-top: 10px;
    }

    button {
      padding: 7px 10px;
      width: 100%;
      text-align: left;
      transition: background linear 0.3s;
      display: flex;
      & > p {
        display: flex;
        flex-direction: column;
        margin: 0;
        span {
          color: $common-grey;
          margin-top: 10px;
          &:empty {
            display: none;
          }
        }
      }
      & > img {
        display: block;
        width: 100%;
        max-width: 100px;
        margin-right: 20px;
        height: 60px;
        object-position: center;
        object-fit: contain;
      }
      &:hover {
        background: $common-grey;
        & > p {
          span {
            color: #fff;
          }
        }
      }
    }
    & > span {
      padding: 7px 10px;
    }
    &.active {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

//Main-Page===END

//Article-page
.article-page {
  //height: 100%;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
.article-block {
  &__row {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
  }
  &__col {
    padding: 30px 15px;
    background: linear-gradient(
      117deg,
      rgba(255, 255, 255, 1) 20%,
      rgba(230, 230, 230, 1) 69%,
      rgba(248, 248, 248, 1) 100%
    );
    &_bg {
      background: #000;
    }
  }
  &__main-title {
    margin: 0;
  }

  &__contents {
    color: #fff;
    ul {
      position: sticky;
      top: 0;
      list-style: none;
      margin: 0;
      padding: 0;
      color: #fff;
    }
  }
  &__section {
    padding: 15px 0;
    h5 {
      font-size: 25px;
      border-bottom: 1px solid $common-grey;
      padding-bottom: 10px;
    }
    &:first-of-type {
      padding: 0 0 15px;
    }
    &_sub {
      border-top: 0;
      padding: 5px 0;
      border-top: 0 !important;
      font-size: 15px;
      h5 {
        font-size: 20px;
        border-bottom: 0;
        margin-bottom: 7px;
      }
    }
    &_deep {
      font-size: 15px;
      h5 {
        border-bottom: 0;
        font-size: 16px;
        margin-bottom: 5px;
        padding-bottom: 0;
      }
    }
  }
  &__image-container {
    clear: both;
    max-width: 300px;
    margin: 0 auto;
    p {
      font-size: 13px;
      line-height: 14px;
      color: #1a1a1a;
    }
  }
  &__image-holder {
    max-width: 300px;
    cursor: pointer;
    img {
      display: block;
      width: 100%;
      border-radius: 4px;
    }
  }

  &__related-holder {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    .common-link {
      &:after {
        content: ",";
      }
      &:last-child {
        &:after {
          content: none;
        }
      }
    }
  }
}
//Article-page===End

@import "partials/media_min_768";
@import "partials/media_min_1024";
@import "partials/media_min_1280";
@import "partials/media_other";
