html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  line-height: 120%;
  margin: 0 0 0.5em 0;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  line-height: 120%;
  margin: 0.5em 0;
}

h2 {
  font-size: 1.75em;
  font-weight: bold;
  line-height: 120%;
  margin: 0.5em 0;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 120%;
  margin: 0.6em 0;
}

h4 {
  font-size: 1.25em;
  font-weight: bold;
  line-height: 120%;
  margin: 0.8em 0;
}

h5 {
  font-size: 1.1em;
  font-weight: bold;
  line-height: 120%;
  margin: 1em 0;
}

h6 {
  font-size: 1em;
  font-weight: bold;
  line-height: 120%;
  margin: 1em 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  min-width: 320px;
}

p {
  margin: 1em 0;
}

ul,
ol {
  margin: 1em 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.site-holder {
  //overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  //overflow-y: auto;
}

.container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  //height: 100%;
}

.wrap {
  max-width: 14100px;
  margin: 0 auto;
  padding: 0 15px;
  &_fluid {
    width: 100%;
  }
}

@include form-fields() {
  @include placeholder() {
    color: $common-grey;
  }
}

.page-loader {
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  width: 100%;
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #fff;
    height: 100%;
    top: 0;
    animation: loader;
    animation-fill-mode: both;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  &__block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0;
    color: #1a1a1a;
  }
  &__logo-holder {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__logo {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      max-width: 150px;
      margin-bottom: 10px;
    }
  }
  &__sign-in {
    font-weight: 700;
    opacity: 0.5;
    cursor: not-allowed;
    @include outline-off();
  }
}

.burger-btn {
  background: none;
  border: none;
  padding: 0;
  width: 25px;
  span {
    display: block;
    background: #1a1a1a;
    height: 4px;
    border-radius: 15px;
    width: 100%;
  }
  span + span {
    margin-top: 10px;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 10px;
  @include outline-off();
  &_icon {
    width: 30px;
    height: 30px;
    padding: 0;
    svg {
      width: 100%;
      height: 100%;
    }
    & + & {
      margin-left: 15px;
    }
    &.active {
      svg {
        path {
          fill: $primary-black;
        }
      }
    }
  }
  & + & {
    margin-left: 10px;
  }
  &_visible-md {
    display: none;
  }
}

.footer {
  &__block {
    display: flex;
    margin: 0 -15px;
  }
  &__section {
    display: flex;
    flex: 1 0 10%;
    &_lg-xs {
      background: #000;
      flex: 1 0 90%;
    }
  }
  &__history {
    padding: 15px 0;
    ul {
      list-style: none;
      margin: 0 20px;
      padding: 0;
    }
    li {
      padding: 5px 0;
      margin-left: 60px;
      &:first-child {
        margin-left: 0;
        color: $common-grey;
      }
    }
    a {
      color: #fff;
      @include fake-text-decoration-underline($common-grey);
    }
    li + li {
      //margin-top: 10px;
    }
  }
  &__links {
    padding: 40px 15px;
    width: 100%;
    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      padding: 5px 0;
      & > span {
        color: $common-grey;
      }
      & > a {
        color: $primary-black;
        @include fake-text-decoration-underline($common-grey);
      }
    }
    li + li {
      margin-left: auto;
    }
  }
}

.page-container {
  padding-top: 80px;
}

.common-link {
  text-decoration: none;
  margin: 10px;
  display: block;
  color: darken($common-grey, 20%);
  &:hover {
    text-decoration: underline;
  }
  & + & {
    //margin: 10px;
  }
}

.label-title {
  font-weight: 700;
  font-size: 20px;
  color: $primary-black;
}

.heading-item {
  & > a {
    @extend .common-link;
    margin: 0;
    color: #fff;
  }
  &_sub {
    margin-left: 10px;
  }
  &_deep {
    margin-left: 20px;
  }
}

.up-btn {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  border: 1px solid $primary-black;
  padding: 5px;
  background-image: url("../../icons/chevron-up-white.svg");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  transition: opacity linear 0.3s;
  &.active {
    pointer-events: auto;
    opacity: 1;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: rgba(#000, 0.9);
  z-index: 2;
  color: #fff;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity linear 0.2s;
  &.active {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
  }
  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__header {
    padding: 15px;
    display: flex;
    align-items: center;
    h2 {
      margin: 0;
    }
  }
  &__buttons {
    margin-left: auto;
  }
  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
  }
}

.slider-holder {
  width: 100%;
  .swiper-container {
    overflow: visible;
  }
  .swiper-button-next,
  .swiper-button-prev {
    transform: translateY(-50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    position: fixed;
    &:after {
      content: none;
    }
  }
  .swiper-button-next {
    background-image: url("../../icons/right-arrow.svg");
  }
  .swiper-button-prev {
    background-image: url("../../icons/left-arrow.svg");
  }
  .swiper-slide {
    //display: flex;
    height: 100%;
    overflow-y: auto;
    align-items: center;
    &-active {
      .slider-holder {
        &__slide-container {
          transform: scale(1);
          & > p {
            opacity: 1;
          }
        }
        &__img-container {
          img {
            filter: grayscale(0);
          }
        }
      }
    }
  }
  .swiper-pagination {
    top: -25px;
    z-index: 2;
    bottom: auto;
    & > .swiper-pagination-bullet {
      background: $common-grey;
      width: 3px;
      height: 3px;
      margin: 0 15px;
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      &:after {
        content: "";
        position: absolute;
        border: 0.5px solid $common-grey;
        width: 500%;
        height: 500%;
        border-radius: 50%;
        opacity: 0;
        transition: opacity linear 0.3s;
      }
      &-active {
        &:after {
          opacity: 1;
        }
      }
    }
  }
  &__slide-container {
    transform: scale(0.9);
    transition: transform linear 0.3s;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & > p {
      padding: 0 10px;
      opacity: 0;
      transition: opacity linear 0.3s;
    }
  }
  &__img-container {
    position: relative;
    img {
      display: block;
      width: 100%;
      height: 100%;
      max-height: 300px;
      object-fit: contain;
      object-position: center;
      filter: grayscale(0.8);
      transition: filter linear 0.3s;
    }
  }
}

.close-btn {
  width: 20px;
  height: 20px;
  background-image: url("../../icons/cross-ico.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.search-loader {
  display: block;
  width: 85%;
  padding: 20px;
  height: 1px;
  margin: 0 auto;
  //background: #000;
  overflow: hidden;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    background: #000;
    top: 50%;
    height: 2px;
    z-index: 1;
  }
  &:before {
    @extend .search-loader:after;
    background: #fff;
    width: 10%;
    z-index: 2;
    animation: loader;
    animation-fill-mode: both;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
}

.error-container {
  padding-top: 60px;
  margin: auto;
  width: 40%;
  text-align: center;
  //height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;
}

.back-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: $primary-black;
  padding: 10px 15px;
  border-radius: 4px;
  color: #fff;
}

.react-simple-keyboard {
  position: fixed;
  max-width: 79%;
  box-sizing: border-box;
  display: none;
  bottom: 10%;
}

.speech-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 2px -4px 16px 6px rgba(0, 0, 0, 0.19);
  &__body {
    width: 50%;
    max-width: 150px;
    text-align: center;
    h5 {
      & > span {
        color: #ea4335;
      }
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transition: opacity linear 0.3s;
    button {
      background: #34a853;
      color: #fff;
      border-radius: 8px;
      padding: 5px 15px;
      &:last-child {
        background: #ea4335;
      }
    }
    &.active {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
.micro-btn {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  @include outline-off();
  &:after,
  &:before {
    content: none;
    display: block;
    position: absolute;
    border: 2px solid #ea4335;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: animateLoader 1.5s linear infinite;
  }
  &:after {
    border: 1px solid #4285f4;
    animation-delay: 0.5s;
  }
  svg {
    width: 80%;
    height: 80%;
  }
  &.animated {
    &:after,
    &:before {
      content: "";
    }
  }
}

@keyframes animateLoader {
  from {
    width: 50%;
    height: 50%;
    border-color: rgba(#4285f4, 0);
  }
  to {
    width: 100%;
    height: 100%;
    border-color: rgba(#ea4335, 0.5);
  }
}
