@media all and (min-width: 768px) {
  .header {
    &__logo-holder {
      &:before {
        content: "";
      }
    }
  }
  .footer {
    &__section {
      &_lg-xs {
        flex: 1 1 50%;
      }
      &_lg-md {
        flex: 1 1 50%;
      }
    }
    &__history {
      padding: 40px 15px;
      width: 100%;
      display: flex;
      align-items: center;
      ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        width: 100%;
      }
      li {
        margin-left: 0;
      }
      li + li {
        margin-left: 20px;
      }
    }
  }

  // MAIN_PAGE
  .main-page-container {
    max-width: 80%;
  }
  .search {
    &__input-holder {
      input {
        font-size: 50px;
        padding: 10px 0;
      }
    }
    &__btns {
      top: 0;
      .btn {
        width: 40px;
        height: 100%;
      }
      .btn + .btn {
        margin-left: 40px;
      }
    }
  }
  // MAIN_PAGE==END

  //Article-page
  .article-block {
    &__row {
      flex-direction: row;
      padding: 0;
    }
    &__col {
      flex: 1 1 75%;
      padding-top: 220px;
      &_bg {
        flex: 1 1 25%;
      }
    }
    &__section {
    }
    &__image-container {
      float: left;
      margin-right: 30px;
      &:nth-of-type(2n) {
        float: right;
        margin-right: 0;
        margin-left: 30px;
      }
    }
  }
  //Article-page===end

  //slider
  .modal {
    &__header {
      margin: 20px;
    }
  }

  .slider-holder {
    .swiper-container {
      height: 90%;
    }
    .swiper-slide {
    }
    .swiper-pagination {
      position: fixed;
      top: 150px;
      right: 20px;
    }
    .swiper-container-horizontal
      > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
      left: auto;
    }
  }
  //slider====end
  .react-simple-keyboard {
    display: block;
  }
}
