@mixin form-fields {
  input[type="password"],
  input[type="email"],
  input[type="url"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="week"],
  input[type="tel"],
  input[type="color"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  select,
  textarea {
    @content;
  }
}

@mixin placeholder {
  &:placeholder {
    @content;
  }
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}

@mixin appearance-off {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

$primary-black: #1a1a1a;
$common-grey: #b7b7b7;
$bg-grey: #f8f8f8;
