@mixin form-fields {
  input[type="password"],
  input[type="email"],
  input[type="url"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="week"],
  input[type="tel"],
  input[type="color"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  select,
  textarea {
    @content;
  }
}

@mixin fake-text-decoration-underline($color: #000, $width: 1px) {
  text-decoration: none;
  background-image: linear-gradient(to left, $color 50%, $color 50%);
  background-repeat: repeat-x;
  background-size: 1px $width;
  background-position: 0 1.05em;
  &:hover {
    background: none;
  }
}

@mixin placeholder {
  &:placeholder {
    @content;
  }
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}

@mixin outline-off {
  &:focus,
  &:active {
    outline: none;
  }
}

@mixin appearance-off {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@keyframes loader {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

$primary-black: #1a1a1a;
$common-grey: #b7b7b7;
$bg-grey: #f8f8f8;
